nav{
background-color: rgba(32, 56, 165, 0.205) !important;
border: none !important;
padding-left: 50px;
padding-right: 65px;
}

body {
    background-image: url("../images/IMG_20200405_162639.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-content: center;
}
#bio-div,#gallery-div{
background-color: rgb(173, 213, 241);
font-family: 'Encode Sans Expanded', sans-serif;
font-size: 18px;
padding: 15px;
}
#contactDiv{
    background-color:  rgb(178, 214, 240);
    margin-top: 100px;
    border-radius: 15px;
}

.fName {
    margin-right: 10px;
    margin-top: auto;
   float: right;
}
.lName {
    margin-right: 10px;
    margin-top: auto;
    float: right;
}
.tag {
    color: white;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    flex: 1 0 auto;
  }
.page-footer{
    font-size: x-large;
    padding: 5px;
    margin-top: auto;
    background-color: rgba(17, 64, 95, 0.712) !important;
    border-top: solid 3px;
    border-color: gold;
    
}

#mugshot {
    height: 150px;
    width: 100px;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
}
button {
    float: right;
    font-weight: normal;
    color: rgb(255	202	40);
    background-color: rgb(39, 59, 73);
    border: 1px solid gold;
    border-radius: 10px;
    padding: auto;
    padding-bottom: 5px;
    cursor: pointer;
    height:35px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    box-shadow: 1px 1px  rgb(255	202	40), 2px 2px rgb(255	202	40), 3px 3px  rgb(255	202	40);
    transform: translateX(-3px);
    }
#submitBtn{
    float: inherit;
    font-weight: normal;
    color: rgb(255	202	40);
    background-color: rgb(39, 59, 73);
    border: 1px solid gold;
    border-radius: 10px;
    padding: auto;
    padding-bottom: 5px;
    cursor: pointer;
    height:35px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    box-shadow: 1px 1px  rgb(255	202	40), 2px 2px rgb(255	202	40), 3px 3px  rgb(255	202	40);
    transform: translateX(-3px);
    }
.media{
    max-width: 960px;
    max-height: 500px;
}